<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blackbelt Click Funnels</title>
    <meta name="description" content="Blackbelt.clickfunnels" />
    <meta property="og:title" content="Blackbelt.clickfunnels" />
    <meta property="og:description" content="Blackbelt.clickfunnels" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- link favicon -->
    <link rel="manifest" href="/src/assets/site.webmanifest" />
    <link rel="apple-touch-icon" href="/src/assets/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="icon" href="/src/assets/favicon-1.png" />

    <!-- link bootstrap -->
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="/src/styles/page-2.css" />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body
    class="d-flex h-100 text-center text-white bg-dark"
    onload="myFunction()"
  >
    <div id="loader"></div>
    <main class="animate-bottom container" id="myDiv" style="display: none">
      <!-- bacground dark -->
      <div
        class="
          cover-container
          d-flex
          w-100
          h-100
          p-3
          mx-auto
          flex-column
          container
        "
      >
        <!-- header -->
        <header class="mb-auto">
          <div>
            <img
              src="/src/assets/logo.png"
              class="float-md-start logo"
              width="5%"
              alt=""
            />
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Contact</a>
            </nav>
          </div>
        </header>
        <hr class="d-block d-md-none" />

        <div class="px-3 mtc-1 container">
          <div>
            <div class="mx-auto d-flex flex-lg-row flex-column hero">
              <!-- Left Column -->
              <div
                class="
                  left-column
                  flex-lg-grow-1
                  d-flex
                  flex-column
                  align-items-lg-start
                  text-lg-start
                  align-items-center
                  text-center
                "
              >
                <h2 class="title-text-big">
                  Thanks Your
                  <span class="text-warning fw-bold">Aplcation</span> From Our
                  Best Mentor <br />I'm looking for a handful of coaches to join
                  our CLIENTS Program starting this month.
                </h2>
                <p class="text-caption">
                  if you want more leads, a proven way to turn those leads in
                  paying clients, and killer system <br />
                  to deliver them amazing results, our CLIENTS Program could be
                  a great fit.
                </p>
                <a
                  href="https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2F1805394269672795%2F%3Fref%3Dpivot-plan-chat%26messaging_source%3Dsource%253Apages%253Amessage_shortlink"
                  class="btn btn-warning p-3 mt-5 text-white"
                  >Send Me The Details</a
                >
                <div
                  class="
                    d-flex
                    flex-sm-row flex-column
                    align-items-center
                    mx-auto mx-lg-0
                    justify-content-center
                    gap-3
                  "
                ></div>
              </div>

              <!-- Right Column -->
              <div
                class="
                  right-column
                  d-flex
                  justify-content-center justify-content-lg-start
                  text-center
                  pe-0
                "
              >
                <video
                  src="/src/assets/video.mp4"
                  class="img-fluid w-100 h-75 mt-5 mt-md-0"
                  controls
                ></video>
              </div>
            </div>
          </div>
        </div>

        <!-- mobile -->
        <footer class="mt-auto text-white-50 text-center d-block d-md-none">
          <hr / style="margin-top: 8rem">
          <p class="col-md">
            © 2020 Million Dollar Coach | All Rights Reserved
          </p>
          <div class="col-md text-center">
            <a href="#" class="mx-3 text-muted text-decoration-none">
              Privacy Policy</a
            >
            <a href="#" class="text-decoration-none text-muted"
              >Tems & Condition
            </a>
          </div>
        </footer>
        <!-- dekstop -->
        <footer class="mt-5 text-white-50 text-start row d-none d-md-block">
          <hr />
          <p class="col">© 2020 Million Dollar Coach | All Rights Reserved</p>
          <div class="col text-end" style="margin-top: -2.5rem">
            <a href="#" class="mx-3 text-muted text-decoration-none">
              Privacy Policy</a
            >
            <a href="#" class="text-decoration-none text-muted"
              >Tems & Condition
            </a>
          </div>
        </footer>
      </div>
    </main>

    <script src="/src/script/index.js"></script>
    <!-- bootstrap js -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jquery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- main js -->
  </body>
</html>
